@import url('https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 700px solid white ;
    padding: 700px solid black ;
}

body {
    background-color: rgb(25, 14, 44);
    color: rgb(253, 251, 255);
    font-family: "Epunda Sans", sans-serif;
    font-weight: 50;
    font-size: 20px;
}

h1 {font-size: 60px;}

header {
    padding: 2rem;
    background-color: rgb(43, 3, 73);
    text-align: center;
}
main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1,5rem;
}

footer {
    padding: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

textarea{
    width: 200px;
    height: 30px;
    border: 2px solid blueviolet;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
}
table {
    border: 2px solid blueviolet;
    border-collapse: collapse;
    padding: 1rem;
}
th {
    padding: 1rem;
    text-align: center;
}
td {
    padding: 1rem;
    text-align: center;
}
footer {
    background-color: rgb(48, 22, 73);
    text-align: center;
}
footer a {
    text-decoration: none;
    color: rgb(198, 151, 241);
}
select{
    background-color: transparent;
    border: 2px solid blueviolet;
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}
input[type="file"] {
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(161, 95, 223);
}
img {
    border-radius: 115px;
    width: 11rem;
}

fieldset {
    border:2px solid blueviolet;
}
button {
    background-color: rgb(144, 59, 224);
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
}